@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
@import url('https://db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/Rockwell.woff2') format('woff2'),
         url('../fonts/Rockwell.woff') format('woff');
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.landing-page {
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    font-family: "Rockwell", sans-serif;

}

.header, header {
    width: 100%;
    height: 8rem;
}

nav {
    width: 100%;
    /* justify-content: space-between; */
    gap: 3rem;
    height: 7rem;
    margin: 0 5%;
    /* background-color: black; */
}

nav .logo {
    width: 20%;
    height: 7rem;
    justify-content: start;

}

nav .logo img {
    width: 6rem;
    height: 6rem;
    aspect-ratio: 2/2;
}

nav ul, .path-nav ul {
    list-style: none;
}

nav .web-pages {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
}

nav .web-pages .nav-link, .path-nav .path-nav-link {
    width: 5rem;
    height: 2rem;

}

.dpdn-nav-con {
    position: relative;
}
.dpdn-nav-con:hover  .dpdn-nav{
    display: flex;
    transition: 400ms all ease;
}


nav ul li .dpdn-nav, .path-nav .dpdn-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: 16rem;
    gap: 1.3rem;
    padding: 2rem;
    position: absolute;
    background: rgba(172, 2, 2, 0.411);
    top: 2.25rem;
    left: 2rem;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0);
    animation-name: scale-in;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    z-index: 99;
    backdrop-filter: blur(2px);


}


nav a:hover {
    font-size: larger;
    transition: 300ms all ease-in-out;
    animation-name: border-reveal;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: 1s ease-in-out;
    /* border-color: red; */
    box-sizing: content-box;
    border-style: solid;
    padding: 1px 5px;
    border-radius: 10px;
}

@keyframes border-reveal {
   
    0%, 
    100% {
        border: 3px solid;
        border-top-color: red;
        border-bottom-color: red;
        border-right-color: red;
        border-left-color: blueviolet;
    }
    
    5% {
        /* border-color: blue; */
        border: 3px solid;
        border-top-color: red;
        border-bottom-color: red;
        border-right-color: red;
        border-left-color: blueviolet;
    }
    
    30% {
        border-color: blue;
        border: 3.5px solid;
        border-top-color: blueviolet;
        border-left-color: red;
        border-bottom-color: red;
        border-right-color: red;
    }
    
    60% {
        /* border-color: blue; */
        border: 3.2px solid;
        border-right-color: blueviolet;
        border-top-color: red;
        border-bottom-color: red;
        border-left-color: red;
    }
    
    80% {
        /* border-color: blue; */
        border: 3px solid;
        border-bottom-color: blueviolet;
        border-top-color: red;
        border-left-color: red;
        border-right-color: red
    }

}

@keyframes scale-in {
    0% {
        transform: scale(0.1);
        scale: 0.1;
        opacity: 0;
        transform: translate(-100px, -300%);
        rotate: -55deg;

    /* transform: translate(-100px, -100%); */


    }
    70%  {
        scale: 0.5;
        rotate: 0;
        opacity: 0.5;
        /* transform: translate(-50px, -100%); */

    }
    100%  {
        transform: translate(0px, 0px);
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.411);
        transform: scale(1);
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0.1;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.path-nav {
    gap: 1rem;
    width: 100%;
}

.path-nav .home  {
    gap: 10px;
}

.path-nav .home .dpdn-nav {
    width: 6rem;
    height: 6rem;
    gap: 1.3rem;
    padding: 1rem;
}


.container {
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
    justify-content: start;
    gap: 2rem;
}

.container .hero {
    font-size: 32px;
    width: 50%;
}

.container .content {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}

.container .content .EOA {
    line-height: 1.5;
    font-size: 22px;
    flex-direction: column;
    gap: 1rem;
}

.container .content .animal-class {
    line-height: 1.5;
    font-size: 22px;
    flex-direction: column;
    gap: 1.5rem;
}

.container .content .animal-class .heading {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1rem;
}

.container .content .animal-class .examples {
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 2rem;
}

.container .content .animal-class details {
    /* font-weight: 600; */
    font-size: 23px;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .content .animal-class details .details-con {
    /* display: none; */
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
/* 
.container .content .animal-class details .details-con.active {
    display: inline;
    animation: fade-in .5s ease;

} */

.container .content a {
    width: 20rem;
    text-align: left ;

}
.container .content a:hover {
    text-decoration: underline 1px solid;
    opacity: 0.9;
    scale: 0.95;
    transition: 400ms;
}

#animalContent {
    animation: focus 1s ease, scale-in 2s ease;
}

@keyframes focus {
    from {
        outline: 0;
    }
    to {
        outline: 2px solid;
    }
}